*{
  box-sizing: border-box;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  background-color: #fff;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.button{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  padding: 13px 20px;
  cursor: pointer;
  line-height: normal;
}

.button-primary{
   background-color: #7296ec;
   color: #fff;
}
.button-primary:hover{
   opacity: 0.8;
}
.button-primary:active{
   opacity: 0.6;
}

.container{
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* .site-header{
  
} */

.site-header-top{
  background-color: #f6f6f6;
  padding: 30px 0;
}

.site-header-top-container{
  display: flex;
  align-items: center;
}

.site-header-logo{
  background-color: #fff;
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
}

.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

/* .site-header-logo-img{

} */

.currency-rates{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
}
.currency-rate-item:not(:last-child){
  margin-right: 25px;
}

.currency-rates-type{
  color: #2959ce;
}

.lang-toggle{
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
  margin-right: 25px;
  
}

.lang-toggle-link{
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  line-height: 30px;
  color: #a6a6a6;
}

.lang-toggle-link-active{
  background-color: #fff;
  color: #222;
}