*{
  box-sizing: border-box;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  background-color: #fff;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}